<div class="newsletter-container">
    <div class="newsletter-content">
        <form id="newsletter-form" class="newsletter-form">
            <div class="input-group">
                <h2>Subscribe to our newsletter for expert electrical advice and exclusive deals!</h2>
                <input type="email" id="newsletter-email" required placeholder="Enter your email">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                    Subscribe
                </button>
            </div>
            <div class="newsletter-options">
               
                <label>
                    <input type="checkbox" name="offers" checked>
                    Special Offers
                </label>
            </div>
        </form>
    </div>
</div>
